/**/.metadata/*
/.metadata/*
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/ec/4096bb2ede6000151daba6deada7b28d
*.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/shoppingcart/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/com.emc.shoppingcart.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/ProductTest.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/UserTest.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/963700148.index
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2015/9/39/refactorings.index
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2015/9/39/refactorings.history
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_3_1.del
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_a_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_b_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/8ba0f71c6d6fff3fb44e228ec951305f/_a_2.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/8ba0f71c6d6fff3fb44e228ec951305f/_b_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/8ba0f71c6d6fff3fb44e228ec951305f/_c_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/8ba0f71c6d6fff3fb44e228ec951305f/_d_1.del
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.server.core/servers.xml
.metadata/.plugins/org.eclipse.wst.server.core/servers.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.blogs/-549550714.xml
.metadata/version.ini
Servers/Tomcat v8.0 Server at localhost-config/server.xml
.metadata/.log
.metadata/version.ini
.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.blogs/-549550714.xml
.metadata/.log
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
*.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
*.snap
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.gen
*.del
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
*.log
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.properties
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
*.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_4.fdx
*.fdt
*.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_4.fnm
*.log
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
*.txt
*.log
*.xmi
.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.blogs/-549550714.xml
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/3281123506.index
.metadata/.plugins/org.eclipse.m2e.core/nexus/8ba0f71c6d6fff3fb44e228ec951305f/segments_x
.metadata/.plugins/org.eclipse.core.resources/.projects/shoppingcart/.indexes/e4/b9/b3/a8/6e/history.index
.metadata/.plugins/org.eclipse.core.resources/.history/d9/60d73124b16100151daba6deada7b28d
.metadata/.plugins/org.eclipse.core.resources/.history/63/20ffac17b06100151daba6deada7b28d
.metadata/.plugins/org.eclipse.core.resources/.history/38/302be53ba96100151daba6deada7b28d
.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.blogs/-549550714.xml